.navbar-nav .nav-item .nav-style {
    color: white;
}

#nav-logo {
    max-height: 32px;
}
.navbar {
    border-bottom: 1px solid rgb(20,20,20);
}

.info {
    font-size: large;
}


#nav-title-text {
    /* width: 8rem; */
    /* overflow-wrap: break-word; */
    /* white-space: normal; */
    margin-left: 1rem;
}

body {
    background-image: url("/static/img/background.jpeg");
}

#body-container {
    padding: 1.5vw;
    margin: 1.5vw;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    background-color: rgba(132, 219, 255, .2);
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
