{% extends "base.html" %}

{% block title %}
Facts
{% endblock %}

{% block body %}
    <h2>Facts</h2> <br />

    <h3>While doing the research and data collection for this project, we came to a lot of interesting conclusions in regards
    to how disease is spread and affected by natural disasters. Some of the most interesting are listed below. </h3> <br />

    <ul class="facts-list">
      <li class="facts-list-item">
          <h4> Natural disasters almost never lead to immediate epidemics. However, the after-effects like flooding and
          sanitation collapse lead to a rash of infections in the following weeks</h4>
      </li>
      <li class="facts-list-item">
          <h4> Tsunamis are the greatest carriers of disease by far, with water and mosquito borne illnesses spreading
          rapidly due to the large amounts of standing water and contamination of open water sources</h4>
      </li>
      <li class="facts-list-item">
          <h4> Dust inhalation from rubble created by earthquakes ends up leading to large spikes in the amount of acute
          respiratory infections and inflaming pre-existing cases</h4>
      </li>
      <li class="facts-list-item">
          <h4> Disease isn't covered as well by foreign aid groups as many of the most devastating effects only occur
          after other aid has been distributed</h4>
      </li>
    </ul>
{% endblock %}