{% extends "base.html" %}

{% block title %}
Antiviral Voyager
{% endblock %}


{% block body %}
<div class="row">
  <div class="col-4">
  <h1> Welcome to Antiviral Voyager </h1>
<p> After a natural disaster strikes, one of the most commonly overlooked aspects of the relief effort is the spread
of disease. However, after a disaster has passed through an area, outbreaks can ravage a medical system that is already
under heavy strain. The aim of this project is to use Machine Learning in order to predict how disease will spread after
  a major disaster event in order to better prepare organizations and governments for the aftermath.</p>
  </div>
  <div class="earth-container col-8">
    <img id="earth" src="/static/img/earth.png" />
  </div>
</div>
{% endblock %}
