{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}

{% block title %}
Disease Map
{% endblock %}

{% block body %}
    <div class="row">
      <div id="map" class ="map col-8">
      </div>
      <div class="container col-4">
            <br />
                <h3>What is this?</h3>
                <p>This is a heatmap of volcanic eruptions since 4000 BC that are believed to have been the catalyst for an earthquake
                or tsunami in the nearby area. </p>
            <br />
                <h3>Why is this important?</h3>
                <p>Volcanic eruptions, while rare, are one of the most devastating natural disasters, with each individual eruption
                causing billions of dollars in damage to surrounding forests and properties alone. However, the long term
                health problems that appear in the aftermath are potentially devastating to the large populations that
                have to be relocated after every event. Even disregarding the problems caused by the ash to people with
                chronic respiratory problems, earthquakes and tsunamis caused by the eruption lead to outbreaks of
                disease within the now tightly packed communities. Charting this information allows organizations to more
                accurately plan for the long term requirements of a population.</p>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0hA6im9a3Vj7CNB3YQRZOC_iD9EY2pxY&libraries=visualization">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js' ) }}"></script>
{% endblock %}
