{% extends "base.html" %}

{% block title %}
Sources
{% endblock %}

{% block body %}
<p> Here are links to our various data sources. A big thanks to all of them; this project wouldn't have been possible without the kindness of these organizations to publish this data publicly and for free. </p>

<ul class="sources-list">
  <li class="sources-list-item">
    <a href="http://apps.who.int/flumart/Default?ReportNo=12"> The World Health Organization Flumart</a>
  </li>

  <li class="sources-list-item">
    <a href="https://www.tandfonline.com/doi/full/10.1586/eri.11.155">Infectious Diseases Following Natural Disasters: Prevention and Control Measures</a>
  </li>

  <li class="sources-list-item">
    <a href="https://data.world/stuartltinsley/volcanic-eruptions-data-set">Volcanic Eruption Data</a>
  </li>

  <li class="sources-list-item">
    <a href="https://www.kaggle.com/usgs/earthquake-database">Earthquake Data</a>
  </li>

  <li class="sources-list-item">
    <a href="https://www.kaggle.com/usgs/earthquake-database">US Outbreak Data</a>
  </li>
</ul>
{% endblock %}
