{% extends "base.html" %}

{% block title %}
Sources
{% endblock %}

{% block body %}
<p> Here are links to our various data sources. A big thanks to all of them; this project wouldn't have been possible without the kindness of these organizations to publish this data publicly and for free. </p>

<ul class="sources-list">
  <li class="sources-list-item">
    <a href="http://apps.who.int/flumart/Default?ReportNo=12"> The World Health Organization Flumart</a>
  </li>

  <li class="sources-list-item">
    <a href="https://www.tandfonline.com/doi/full/10.1586/eri.11.155">Infectious diseases following natural disasters: prevention and control measures</a>
  </li>
</ul>
{% endblock %}
